<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <title><%= current_page.data.title %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

        <%= stylesheet_link_tag "stylesheet-desktop-home-kpi-operation-operationPerformance" %>

    <body class="page-container-bg-solid page-md page-header-top-fixed">
                 

        <%= yield %>

        <!--[if lt IE 9]>
        <%= javascript_include_tag  "javascript-if-it-IE-9" %>
        <![endif]-->

        <%= javascript_include_tag  "javascript-desktop-home-kpi-operation-operationPerformance" %>

    </body>

    <script id="dataTable-header-Template" type="text/x-handlebars-template">
        
            <thead>
                
                <tr>
                    {{#each headers}}

                    {{#if_eq dateHeader 'ลำดับ'}}
                        <th class="" rowspan="2">{{dateHeader}}</th>
                    {{else if_eq dateHeader 'ทะเบียนรถ'}}
                        <th class="DatatableOperationKPI-common" rowspan="2">{{dateHeader}}</th>
                    {{else}}
                        <th class="DatatableOperationKPI-common" colspan="2">{{dateHeader}}</th>
                    {{/if_eq}}
                    
                    {{/each}}
                </tr>
                <tr>
                    {{#each headers}}

                    {{#if_eq dateHeader 'ลำดับ'}}
                       <!--  <th class="" ></th> -->
                    {{else if_eq dateHeader 'ทะเบียนรถ'}}
                        <!-- <th class="" ></th> -->
                    {{else}}
                        <th>Box</th>
                        <th>Drop</th>
                    {{/if_eq}}


                    {{/each}}
                </tr>
                
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    {{#each headers}}

                    {{#if_eq dateHeader 'ลำดับ'}}
                     <th class="" colspan="2">Average</th>
                    {{else if_eq dateHeader 'ทะเบียนรถ'}}
                    <!-- <th class="" ></th> -->
                    {{else}}
                    <th>-</th>
                    <th>-</th>
                    {{/if_eq}}

                    {{/each}}
                </tr>
            </tfoot>
        
    </script>

</html>

