---
title: "MIS - Home"
layout: "layout-desktop-home-kpi-operation-operationPerformance"

imageURL: "../../../../../../images"
---

        <!-- BEGIN HEADER -->
        <div class="page-header">

            <!-- BEGIN HEADER TOP -->
            <%= partial partials_desktop_home + "/common-partials/_page-header-top" %>

            <!-- BEGIN HEADER MENU -->
            <%= partial partials_desktop_home + "/common-partials/_page-header-menu" %>

        </div>
        <!-- END HEADER -->

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->

                <!-- BEGIN HEADER MENU -->
                <%= partial partials_desktop_home_kpi_operation_operationPerformance + "/partials/_page-head" %>

                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- PAGE BREADCRUMBS -->
                        <%= partial partials_desktop_home_kpi_operation_operationPerformance + "/partials/_page-breadcrumb" %>

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">

                        <div class="row">
                                <div class="col-md-3 ">

                                <%= partial partials_desktop_home_kpi_operation_operationPerformance + "/partials/_portlet_form_layout" %>
                                </div>
                        </div>

                            
                            
                          
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
        </div>
        <!-- END CONTAINER -->

        <!-- FOOTER -->
        <%= partial partials_desktop_home + "/common-partials/_footer" %>